@*@model WebCore.Models.PessoaViewModels.Pessoa*@
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    Primeiro Index (PessoaController)
</p>
<p>
    @*@Model.Nome // @Model.DataNascimento.ToString("dd/MM/yyyy")*@
</p>
